- src: https://github.com/galaxyproject/ansible-galaxy-os.git
  name: galaxyproject.galaxy-os

- src: smola.java
  name: smola.java

- src: https://github.com/galaxyproject/ansible-cloudman-image.git
  name: galaxyproject.cloudman-image